node_modules
# This will be a git repo on its own (cloned)
unofficial-data
# Binary file, platform-dependent. Required for scraping with selenium-webdriver
chromedriver*
# JSON Database
db.json
# Environment Variables (contains secret data, e.g.: the bot token)
.env
# log file
log.log
debug.log
contato.log
graph.png
map.png
credentials.json
token.json
sheets.csv
graph.backup.png
map.backup.png
inloco/visao.png
inloco/ranking.png
